.mobile-block {
    display: none;
}

@media (max-width: 1200px) {
    .ceo-speech {
        padding-right: 30px;
        padding-left: 30px;
    }
}

@media (max-width: 992px) {
    
    .about-ceo {
        margin-top: 195px;
    }

    .ceo-info img {
        margin-top: -95px;
    }

    /* small tablet devices */
    .slider-main .item-slide {
        height: auto;
    }

    .table-shopping-cart tr td:first-child {
        width: 250px;
    }

    .table-shopping-cart .itemside .info {
        padding: 0;
    }

    .table-shopping-cart .itemside .aside {
        display: none;
    }

    /*about page*/
    .about-us-content.content-first {
        padding: 0 50px 100px;
    }

    .map-area iframe {
        width: 100%;
    }
}

@media all and (max-width: 768px) {
    
    .tz-header-top {
        padding: 10px 0 !important;
    }

    /* mobile devices */
    .section-header .search {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .item-feature {
        margin-bottom: 20px;
    }

    .mobile-order-first {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
    }

    .mobile-order-1 {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    .mobile-order-2 {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }

    .mobile-order-3 {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }

    .mobile-block {
        display: block;
    }

    .section-header .logo {
        max-height: 40px;
        width: auto;
    }

    .section-header .search {
        margin-top: 1rem;
    }

    .navbar-expand .navbar-collapse {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .hero-title {
        font-size: 45px;
    }

    .hero-text {
        font-size: 19px;
    }

    .gallery-wrap .img-big-wrap img {
        height: auto;
        width: 100%;
    }

    .map-area {
        margin-top: 30px;
    }

    .map-area iframe {
        width: 100% !important;
    }
    
}

@media (max-width: 767px) {
    
    .tz-header-top button.navbar-toggler {
        margin-left: 15px;
    }

    .tz-section-header-center h3 {
        font-size: 40px;
    }

    .hero-image-wrap {
        display: none;
    }

    .tz-section-header-side {
        text-align: center;
    }

    .tz-offer-banner-md {
        margin-bottom: 30px;
    }

    .tz-offer-conent h3 {
        font-size: 35px;
    }

    .tz-offer-conent h3 span.text-outline {
        font-size: 45px;
        margin-bottom: 15px;
    }
    
    .contact-info-area {
        padding: 50px 30px;
        padding-left: 30px;
    }

    .footer-top .list-unstyled {
        display: none;
    }

    .footer-top article {
        padding-right: 0;
        text-align: center;
    }

    .footer-top .mr-3 {
        margin-right: 0 !important;
    }

    .footer-top .d-flex {
        display: block !important;
    }

    .footer-top .footer-social {
        margin-top: 45px;
        margin-bottom: 50px;
        text-align: center;
        margin-right: 0;
    }

    .footer-top .footer-payment-gateway {
        text-align: center;
    }

    .footer-copyright {
        text-align: center;
    }

    .footer-copyright .text-right {
        text-align: center !important;
        margin-top: 15px;
    }

    /*about page*/
    .about-us-content.content-first {
        padding: 0 30px 100px;
    }

    .about-ceo::after {
        display: none;
    }

    .ceo-speech {
        padding-right: 0;
        padding-left: 0;
        text-align: center;
        margin-top: 30px;
    }

    .tz-brand-carousel {
        padding: 0 30px;
    }

    /*    category page*/
    .tz-filter-btns {
        display: none;
    }

    .pagination li {
        padding: 1px 6px;
    }

    /*    checkout page*/
    .tz-contact-information {
        text-align: center;
    }

    .tz-contact-information .text-right {
        text-align: center !important;
    }
    
}

/*# sourceMappingURL=responsive.css.map */